
  <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
    <div class="container-fluid px-3">
        <div>
          Hi, <strong>{{user.get_username}}</strong>
        </div>
        <div class="collapse navbar-collapse me-md-0 me-4" id="navbar">
          <ul class="navbar-nav mb-2 mb-sm-0 ms-sm-auto justify-content-sm-end">
            <li class="nav-item">
              <a target="_blank" href="/admin/" 
              class="btn btn-sm btn-round mb-0 me-1 bg-gradient-primary">Administrator</a>
            </li>
            <li class="nav-item d-flex align-items-center">
              <a href="{% url 'logout' %}" 
              class="btn btn-sm btn-round mb-0 me-1 bg-gradient-danger">
                Logout
              </a>
            </li>
            
          </ul>
        </div>
       
    </div>
  </nav>