{% extends 'layouts/base.html' %}

{% block title %} Billing {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">
    
      
      <div class="row">
        <!-- <div class="col-md-7"> -->
          <div class="card my-4">
            <div class="card-header pb-0 px-3">
                <div class="row">
                    <div class="col-md-6"><h6 class="mb-0">Assesments</h6></div>
                    <div class="col-md-6 text-right"><a href="/create-assesment/" class="btn btn-info">Create Assesment</a></div>
                </div>
              
            </div>
            <div class="card-body pt-4 p-3">
              <ul class="list-group">
                {% if assesment_list %}
                {% for assessment in assesment_list %}
                <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                  <div class="d-flex flex-column">
                    <h6 class="mb-3 text-sm">{{ assessment.title}}</h6>
                    <span class="mb-2 text-xs">{{ assessment.description |linebreaksbr}}</span>
                    <!-- <span class="mb-2 text-xs">{{ assessment.description}}</span> -->
                  </div>
                  <div class="ms-auto">
                    
                    <!-- <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="javascript:;"><i class="far fa-trash-alt me-2"></i>Delete</a> -->
                    <a class="btn btn-link text-dark px-3 mb-0" href="/add-candidate/{{ assessment.id }}"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Add candidate</a>
                  </div>
                </li>
                {% endfor %}
                {% endif %}
              </ul>
              {% if assesment_list.has_other_pages %}
                        <ul class="pagination">
                            {% if assesment_list.has_previous %}
                            <li><a href="?page={{ assesment_list.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in assesment_list.paginator.page_range %}
                            {% if assesment_list.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if assesment_list.has_next %}
                            <li><a href="?page={{ assesment_list.next_page_number }}">&raquo;</a></li>
                            {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                        
                        {% endif %}
            </div>
          <!-- </div> -->
        </div>
      
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>

{% endblock javascripts %}
